

@{
    ViewData["Title"] = "Tuxedos";
}


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Tuxedos For Boys and Men
            </h1>
            <div class="breadcrumb">
                <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
                    @Html.ActionLink("Home", "Index", "Home")
            </div>
        </div>
    </div>


    <div class="container-fluid" id="middle">

        <p>
            <h4>
             At <strong>R&D Fashion and Bridal</strong> We have expert tailoring in men's formal wear.

            We have tuxedos for every occasion: bridal tuxedos, prom tuxedos, formal tuxedos, children's tuxedos and much more to choose from! Here are some of our selections.
            </h4>
        </p>
    </div>



    <div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="@Url.Action("SingleItem","Portfolio")">
                <img src="http://placehold.it/750x450" class="img-responsive">
            </a>
            <h3>
                @Html.ActionLink("Project Name", "SingleItem", "Portfolio")
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="@Url.Action("SingleItem","Portfolio")">
                <img src="http://placehold.it/750x450" class="img-responsive">
            </a>
            <h3>
                @Html.ActionLink("Project Name", "SingleItem", "Portfolio")
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="@Url.Action("SingleItem","Portfolio")">
                <img src="http://placehold.it/750x450" class="img-responsive">
            </a>
            <h3>
                @Html.ActionLink("Project Name", "SingleItem", "Portfolio")
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="@Url.Action("SingleItem","Portfolio")">
                <img src="http://placehold.it/750x450" class="img-responsive">
            </a>
            <h3>
                @Html.ActionLink("Project Name", "SingleItem", "Portfolio")
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="@Url.Action("SingleItem","Portfolio")">
                <img src="http://placehold.it/750x450" class="img-responsive">
            </a>
            <h3>
                @Html.ActionLink("Project Name", "SingleItem", "Portfolio")
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="@Url.Action("SingleItem","Portfolio")">
                <img src="http://placehold.it/750x450" class="img-responsive">
            </a>
            <h3>
                @Html.ActionLink("Project Name", "SingleItem", "Portfolio")
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
    </div>
    <hr>
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">«</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">»</a>
                </li>
            </ul>
        </div>
    </div>
</div>